@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
body {
  text-align: center;
  margin: 0 0 0 0;
  background-image: url("bg2.webp");
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 30px;
  background: white;
}

a {
  padding: 1rem 2rem 1.15rem;
  text-transform: uppercase;
  cursor: pointer;
  color: black;
  min-width: 80px;
  list-style-type: none;
  text-decoration: none;
}

a:hover {
  background-color: grey;
  background-size: 100% 100%;
  color: #27262c;
  animation: spring 300ms ease-out;
  text-shadow: 0 -1px 0 #8c8c8c;
  font-weight: bold;
  border-radius: 10px;
}

a:active {
  transform: translateY(4px);
}

@keyframes spring {
  75% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(0.95, 1);
  }
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1, 1);
  }
}

h1 {
  color: #ffffff;
  margin-top: 20px;
}

form {
  margin-bottom: 20px;
}

input[type="text"] {
  color: #ffffff;
  padding: 8px;
  font-size: 16px;
  width: 300px;
  border-radius: 5px;
}

::placeholder {
  color: black;
  opacity: 0.5;
}

button {
  padding: 8px 12px;
  font-size: 16px;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  height: 38px;
  border-radius: 5px;
}

button:hover {
  background-color: grey;
}

.buttons{
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 5px;
}

.bt{
  width: 10%;
}